<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mainTests.iPadBooking"/>
      <class name="mainTests.calendar"/>
      <class name="mainTests.HuaweiBooking"/>
      <class name="mainTests.allPhonesBooking"/>
      <class name="mainTests.OtherPhoneBooking"/>
      <class name="mainTests.checkPictures"/>
      <class name="mainTests.SamsungBooking"/>
      <class name="mainTests.GoogleBooking"/>
      <class name="mainTests.iPhoneBooking"/>
      <class name="mainTests.methodExecutionTest"/>
      <class name="mainTests.LaptopBooking"/>
      <class name="mainTests.GadgetsBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
